<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BigRedButtonOfDeath.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BigRedButtonOfDeath.WPF.Properties.Settings>
            <setting name="Size" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="SelfDestructPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AbortSelfDestructPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastHost" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPort" serializeAs="String">
                <value>0</value>
            </setting>
        </BigRedButtonOfDeath.WPF.Properties.Settings>
    </userSettings>
</configuration>